#Import thư viện

In [19]:
import pandas as pd
import numpy as np

#File tiktok

In [20]:
df_new = pd.read_excel("C:\\Users\\hoang\\Deploy web\\Data\Tất cả đơn hàng-2025-04-08-08_55.xlsx", 
                       dtype={'Order ID': str, 'SKU ID': str, 'Tracking ID': str, 'Package ID': str})

#File shopee

In [21]:
df_shopee = pd.read_excel(
    "C:\\Users\\hoang\\Deploy web\\Data\\Order.all.20250323_20250406_fulll.xlsx",
    dtype={'Mã đơn hàng': str, 'Mã Kiện Hàng': str, 'Mã vận đơn': str}
)

#Điền ngày

In [22]:
ngay_bat_dau = pd.to_datetime("2025-03-31")
ngay_ket_thuc = pd.to_datetime("2025-04-06")

In [23]:
df_new.columns

Index(['Order ID', 'Order Status', 'Order Substatus',
       'Cancelation/Return Type', 'Normal or Pre-order', 'SKU ID',
       'Seller SKU', 'Product Name', 'Variation', 'Quantity',
       'Sku Quantity of return', 'SKU Unit Original Price',
       'SKU Subtotal Before Discount', 'SKU Platform Discount',
       'SKU Seller Discount', 'SKU Subtotal After Discount',
       'Shipping Fee After Discount', 'Original Shipping Fee',
       'Shipping Fee Seller Discount', 'Shipping Fee Platform Discount',
       'Payment platform discount', 'Taxes', 'Order Amount',
       'Order Refund Amount', 'Created Time', 'Paid Time', 'RTS Time',
       'Shipped Time', 'Delivered Time', 'Cancelled Time', 'Cancel By',
       'Cancel Reason', 'Fulfillment Type', 'Warehouse Name', 'Tracking ID',
       'Delivery Option', 'Shipping Provider Name', 'Buyer Message',
       'Buyer Username', 'Recipient', 'Phone #', 'Country', 'Province',
       'District', 'Commune', 'Detail Address',
       'Additional address information', 'Payment Method', 'Weight(kg)',
       'Product Category', 'Package ID', 'Seller Note', 'Checked Status',
       'Checked Marked by'],
      dtype='object')

#Processing data tiktok

In [24]:
df_new['Province'] = df_new['Province'].str.replace(r'^(Tỉnh |Tinh )', '', regex=True)
df_new['Province'] = df_new['Province'].str.replace(r'^(Thanh pho |Thành phố |Thành Phố )', '', regex=True)
df_new['Country']=df_new['Country'].replace({'Viêt Nam', 'Vietnam', 'The Socialist Republic of Viet Nam','Socialist Republic of Vietnam'}, 'Việt Nam')
df_new['Province']=df_new['Province'].replace({'Ba Ria– Vung Tau', 'Bà Rịa-Vũng Tàu', 'Ba Ria - Vung Tau'}, 'Bà Rịa - Vũng Tàu')
df_new['Province']=df_new['Province'].replace('Bac Giang', 'Bắc Giang')
df_new['Province']=df_new['Province'].replace('Bac Lieu', 'Bạc Liêu')
df_new['Province']=df_new['Province'].replace('Bac Ninh', 'Bắc Ninh')
df_new['Province']=df_new['Province'].replace('Ben Tre', 'Bến Tre')
df_new['Province']=df_new['Province'].replace('Binh Dinh', 'Bình Định')
df_new['Province']=df_new['Province'].replace({'Binh Duong', 'Binh Duong Province'}, 'Bình Dương')
df_new['Province']=df_new['Province'].replace('Binh Phuoc', 'Bình Phước')
df_new['Province']=df_new['Province'].replace('Binh Thuan', 'Bình Thuận')
df_new['Province']=df_new['Province'].replace({'Ca Mau', 'Ca Mau Province'}, 'Cà Mau')
df_new['Province']=df_new['Province'].replace({'Can Tho', 'Phố Cần Thơ'}, 'Cần Thơ')
df_new['Province']=df_new['Province'].replace({'Da Nang', 'Da Nang City', 'Phố Đà Nẵng'}, 'Đà Nẵng')
df_new['Province']=df_new['Province'].replace({'Dak Lak','Đắc Lắk'}, 'Đắk Lắk')
df_new['Province']=df_new['Province'].replace({'Ðắk Nông', 'Đắk Nông', 'Dak Nong'}, 'Đắk Nông')
df_new['Province']=df_new['Province'].replace({'Dong Nai', 'Dong Nai Province'}, 'Đồng Nai')
df_new['Province']=df_new['Province'].replace({'Dong Thap', 'Dong Thap Province'}, 'Đồng Tháp')
df_new['Province']=df_new['Province'].replace('Ha Nam', 'Hà Nam')
df_new['Province']=df_new['Province'].replace({'Ha Noi', 'Ha Noi City', 'Phố Hà Nội'}, 'Hà Nội')
df_new['Province']=df_new['Province'].replace({'Hai Phong', 'Phố Hải Phòng'}, 'Hải Phòng')
df_new['Province']=df_new['Province'].replace('Ha Tinh', 'Hà Tĩnh')
df_new['Province']=df_new['Province'].replace('Hau Giang', 'Hậu Giang')
df_new['Province']=df_new['Province'].replace({'Hô-Chi-Minh-Ville', 'Ho Chi Minh', 'Ho Chi Minh City', 'Kota Ho Chi Minh'}, 'Hồ Chí Minh')
df_new['Province']=df_new['Province'].replace({'Hoa Binh', 'Hoà Bình'}, 'Hòa Bình')
df_new['Province']=df_new['Province'].replace('Hung Yen', 'Hưng Yên')
df_new['Province']=df_new['Province'].replace({'Khanh Hoa', 'Khanh Hoa Province','Khánh Hoà'}, 'Khánh Hòa')
df_new['Province']=df_new['Province'].replace({'Kien Giang', 'Kiến Giang'}, 'Kiên Giang')
df_new['Province']=df_new['Province'].replace('Long An Province', 'Long An')
df_new['Province']=df_new['Province'].replace('Nam Dinh', 'Nam Định')
df_new['Province']=df_new['Province'].replace('Nghe An', 'Nghệ An')
df_new['Province']=df_new['Province'].replace('Ninh Binh', 'Ninh Bình')
df_new['Province']=df_new['Province'].replace('Ninh Thuan', 'Ninh Thuận')
df_new['Province']=df_new['Province'].replace('Quang Binh', 'Quảng Bình')
df_new['Province']=df_new['Province'].replace('Quang Tri', 'Quảng Trị')
df_new['Province']=df_new['Province'].replace('Quang Nam', 'Quảng Nam')
df_new['Province']=df_new['Province'].replace('Quang Ngai', 'Quảng Ngãi')
df_new['Province']=df_new['Province'].replace({'Quang Ninh', 'Quang Ninh Province'}, 'Quảng Ninh')
df_new['Province']=df_new['Province'].replace('Soc Trang', 'Sóc Trăng')
df_new['Province']=df_new['Province'].replace('Tay Ninh', 'Tay Ninh')
df_new['Province']=df_new['Province'].replace('Thai Binh', 'Thái Bình')
df_new['Province']=df_new['Province'].replace({'Thanh Hoa', 'Thanh Hoá'}, 'Thanh Hóa')
df_new['Province']=df_new['Province'].replace('Hai Duong', 'Hải Dương')
df_new['Province']=df_new['Province'].replace({'Thừa Thiên Huế', 'Thua Thien Hue'}, 'Thừa Thiên-Huế')
df_new['Province']=df_new['Province'].replace('Vinh Long', 'Vĩnh Long')
df_new['Province']=df_new['Province'].replace('Tra Vinh', 'Trà Vinh')
df_new['Province']=df_new['Province'].replace('Vinh Phuc', 'Vĩnh Phúc')
df_new['Province']=df_new['Province'].replace('Cao Bang', 'Cao Bằng')
df_new['Province']=df_new['Province'].replace('Lai Chau', 'Lai Châu')
df_new['Province']=df_new['Province'].replace('Ha Giang', 'Hà Giang')
df_new['Province']=df_new['Province'].replace('Lai Chau', 'Lai Châu')
df_new['Province']=df_new['Province'].replace('Lam Dong', 'Lâm Đồng')
df_new['Province']=df_new['Province'].replace('Lao Cai', 'Lào Cai')
df_new['Province']=df_new['Province'].replace('Phu Tho', 'Phu Tho')
df_new['Province']=df_new['Province'].replace('Phu Yen', 'Phú Yên')
df_new['Province']=df_new['Province'].replace('Thai Nguyen', 'Thái Nguyên')
df_new['Province']=df_new['Province'].replace('Son La', 'Sơn La')
df_new['Province']=df_new['Province'].replace('Tay Ninh', 'Tây Ninh')
df_new['Province']=df_new['Province'].replace('Tuyen Quang', 'Tuyên Quang')
df_new['Province']=df_new['Province'].replace('Yen Bai', 'Yên Bái')
df_new['Province']=df_new['Province'].replace('Dien Bien', 'Điện Biên')
df_new['Province']=df_new['Province'].replace('Tien Giang', 'Tiền Giang')
df_new['SKU Category'] = df_new['Seller SKU']
df_new['SKU Category'] = df_new['SKU Category'].str.replace(r'^(COMBO-SC-ANHDUC|COMBO-SC-NGOCTRINH)', 'COMBO-SC', regex=True)

In [25]:
date_columns = [
    'Created Time', 'Paid Time', 'RTS Time',
    'Shipped Time', 'Delivered Time', 'Cancelled Time'
]

# Ép kiểu về datetime
df_new[date_columns] = df_new[date_columns].apply(
    lambda col: pd.to_datetime(col, errors='coerce', format='%d/%m/%Y %H:%M:%S')
)

# Loại bỏ giờ, giữ lại phần ngày (vẫn là kiểu datetime)
for col in date_columns:
    df_new[col] = df_new[col].dt.normalize()

In [26]:
tong_don = df_new[
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc)
]

tong_don_unique = tong_don['Order ID'].drop_duplicates()
so_luong_tong_don = len(tong_don_unique)
so_luong_tong_don

15804

In [27]:
don_hoan_thanh_tiktok = df_new[
    (df_new['Order Substatus'] == 'Completed') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc)
]

don_hoan_thanh_tiktok_unique = don_hoan_thanh_tiktok['Order ID'].drop_duplicates()
so_don_hoan_thanh_tiktok = len(don_hoan_thanh_tiktok_unique)
so_don_hoan_thanh_tiktok

6402

In [28]:
don_da_huy = df_new[
    (df_new['Order Substatus'] == 'Canceled')  &
    (df_new['Cancelled Time'] >= ngay_bat_dau) &
    (df_new['Cancelled Time'] <= ngay_ket_thuc)
]

don_da_huy_unique = don_da_huy['Order ID'].drop_duplicates()
so_don_da_huy = len(don_da_huy_unique)
so_don_da_huy

1700

In [29]:
don_hoan_tra_tiktok = df_new[
    (df_new['Cancelation/Return Type'] == 'Return/Refund')  &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc)
]
don_hoan_tra_tiktok_unique = don_hoan_tra_tiktok['Order ID'].drop_duplicates()
so_don_hoan_tra_tiktok = len(don_hoan_tra_tiktok_unique)
so_don_hoan_tra_tiktok

11

In [30]:
don_hoan_tra_thuc_su_tiktok = df_new[
    (df_new['Cancelation/Return Type'] == 'Return/Refund')  &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Sku Quantity of return'] != 0)
]
don_hoan_tra_thuc_su_tiktok_unique = don_hoan_tra_thuc_su_tiktok['Order ID'].drop_duplicates()
so_don_hoan_tra_thuc_su_tiktok = len(don_hoan_tra_thuc_su_tiktok_unique)
so_don_hoan_tra_thuc_su_tiktok

9

In [31]:
don_da_giao_tiktok = df_new[
    (df_new['Order Substatus'] == 'Delivered')  &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc)
]
don_da_giao_tiktok_unique = don_da_giao_tiktok['Order ID'].drop_duplicates()
so_don_da_giao_tiktok = len(don_da_giao_tiktok_unique)
so_don_da_giao_tiktok

9402

In [32]:
SCx1_tiktok = df_new[
    (df_new['SKU Category'] == 'SC-450g')&
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Order Substatus'] == 'Completed')

]

SCx2_tiktok = df_new[
    (df_new['SKU Category'] == 'SC-x2-450g') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc)
]

SC_Combo_tiktok = df_new[
    (df_new['SKU Category'] == 'COMBO-SC') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc)
]

In [33]:
so_luong_SCx1_tiktok = SCx1_tiktok['Quantity'].sum()
so_luong_SCx2_tiktok = SCx2_tiktok['Quantity'].sum()
so_luong_SC_Combo_tiktok = SC_Combo_tiktok['Quantity'].sum()
tong_san_pham_tiktok = so_luong_SCx1_tiktok + so_luong_SCx2_tiktok + so_luong_SC_Combo_tiktok * 2
tong_san_pham_tiktok

np.int64(13947)

In [34]:
so_luong_SCx1_tiktok

np.int64(2946)

In [35]:
so_luong_SCx2_tiktok

np.int64(6359)

In [36]:
so_luong_SC_Combo_tiktok

np.int64(2321)

In [37]:
SCx1_tiktok_hoan_thanh = df_new[
    (df_new['SKU Category'] == 'SC-450g')&
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Order Substatus'] == 'Completed')
]

SCx2_tiktok_hoan_thanh = df_new[
    (df_new['SKU Category'] == 'SC-x2-450g') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Order Substatus'] == 'Completed')
]

SC_Combo_tiktok_hoan_thanh = df_new[
    (df_new['SKU Category'] == 'COMBO-SC') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Order Substatus'] == 'Completed')
]

In [38]:
so_luong_SCx1_tiktok_hoan_thanh = SCx1_tiktok_hoan_thanh['Quantity'].sum()
so_luong_SCx2_tiktok_hoan_thanh = SCx2_tiktok_hoan_thanh['Quantity'].sum()
so_luong_SC_Combo_tiktok_hoan_thanh = SC_Combo_tiktok_hoan_thanh['Quantity'].sum()

In [39]:
tong_san_pham_tiktok_hoan_thanh = so_luong_SCx1_tiktok_hoan_thanh + so_luong_SCx2_tiktok_hoan_thanh + so_luong_SC_Combo_tiktok_hoan_thanh * 2
tong_san_pham_tiktok_hoan_thanh

np.int64(8404)

In [40]:
SCx1_tiktok_da_giao = df_new[
    (df_new['SKU Category'] == 'SC-450g')&
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Order Substatus'] == 'Delivered')
]

SCx2_tiktok_da_giao = df_new[
    (df_new['SKU Category'] == 'SC-x2-450g') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Order Substatus'] == 'Delivered')
]

SC_Combo_tiktok_da_giao = df_new[
    (df_new['SKU Category'] == 'COMBO-SC') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Order Substatus'] == 'Delivered')
]

In [41]:
so_luong_SCx1_tiktok_da_giao = SCx1_tiktok_da_giao['Quantity'].sum()
so_luong_SCx2_tiktok_da_giao = SCx2_tiktok_da_giao['Quantity'].sum()
so_luong_SC_Combo_tiktok_da_giao = SC_Combo_tiktok_da_giao['Quantity'].sum()

In [42]:
tong_san_pham_tiktok_da_giao = so_luong_SCx1_tiktok_da_giao + so_luong_SCx2_tiktok_da_giao + so_luong_SC_Combo_tiktok_da_giao * 2
tong_san_pham_tiktok_da_giao

np.int64(10987)

In [43]:
SCx1_tiktok_hoan_tra = df_new[
    (df_new['SKU Category'] == 'SC-450g')&
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Cancelation/Return Type'] == 'Return/Refund')  &
    (df_new['Sku Quantity of return'] != 0)
]

SCx2_tiktok_hoan_tra = df_new[
    (df_new['SKU Category'] == 'SC-x2-450g') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Cancelation/Return Type'] == 'Return/Refund')  &
    (df_new['Sku Quantity of return'] != 0)
]

SC_Combo_tiktok_hoan_tra = df_new[
    (df_new['SKU Category'] == 'COMBO-SC') &
    (df_new['Delivered Time'] >= ngay_bat_dau) &
    (df_new['Delivered Time'] <= ngay_ket_thuc) &
    (df_new['Cancelation/Return Type'] == 'Return/Refund')  &
    (df_new['Sku Quantity of return'] != 0)
]

In [44]:
SCx1_tiktok_hoan_tra

,Order ID,Order Status,Order Substatus,Cancelation/Return Type,Normal or Pre-order,SKU ID,Seller SKU,Product Name,Variation,Quantity,...,Detail Address,Additional address information,Payment Method,Weight(kg),Product Category,Package ID,Seller Note,Checked Status,Checked Marked by,SKU Category
14249,580139520003377899,Completed,Completed,Return/Refund,Normal,1732098589502179407,SC-450g,Sốt Chấm CayTeDai x1 CAY VỪA - Sốt Muối Chấm L...,Sốt Chấm CayTeDai X1 CAY VỪA,1,...,********************,***************,Thanh toán khi nhận hàng,0.49,Cooking Sauces,1161474248191740651,NaN,Unchecked,NaN,SC-450g
14329,580139338081602014,Completed,Completed,Return/Refund,Normal,1732098613750958159,SC-450g,Sốt Chấm CayTeDai x2 SIÊU CAY - Sốt Muối Chấm ...,Sốt Chấm CayTeDai X1 CAY VỪA,1,...,**************************************,NaN,Thanh toán khi nhận hàng,0.49,Cooking Sauces,1161473539546647006,NaN,Unchecked,NaN,SC-450g
15043,580138214226233361,Completed,Completed,Return/Refund,Normal,1732098613750958159,SC-450g,Sốt Chấm CayTeDai x2 SIÊU CAY - Sốt Muối Chấm ...,Sốt Chấm CayTeDai X1 CAY VỪA,1,...,*************************,NaN,Thanh toán khi nhận hàng,0.49,Cooking Sauces,1161468100436396049,NaN,Unchecked,NaN,SC-450g
17879,580134697057618176,Completed,Completed,Return/Refund,Normal,1732098589502179407,SC-450g,Sốt Chấm CayTeDai x1 CAY VỪA - Sốt Muối Chấm L...,Sốt Chấm CayTeDai X1 CAY VỪA,1,...,*************************,NaN,Thanh toán khi nhận hàng,0.49,Cooking Sauces,1161444757976025344,NaN,Unchecked,NaN,SC-450g
20585,580133952337578965,Completed,Completed,Return/Refund,Normal,1732098589502179407,SC-450g,Sốt Chấm CayTeDai x1 CAY VỪA - Sốt Muối Chấm L...,Sốt Chấm CayTeDai X1 CAY VỪA,1,...,***********,NaN,MoMo,0.49,Cooking Sauces,1161438575182646229,NaN,Unchecked,NaN,SC-450g

In [45]:
so_luong_SCx1_tiktok_hoan_tra = SCx1_tiktok_hoan_tra['Quantity'].sum()
so_luong_SCx2_tiktok_hoan_tra = SCx2_tiktok_hoan_tra['Quantity'].sum()
so_luong_SC_Combo_tiktok_hoan_tra = SC_Combo_tiktok_hoan_tra['Quantity'].sum()

In [46]:
tong_san_pham_tiktok_hoan_tra = so_luong_SCx1_tiktok_hoan_tra + so_luong_SCx2_tiktok_hoan_tra + so_luong_SC_Combo_tiktok_hoan_tra * 2
tong_san_pham_tiktok_hoan_tra

np.int64(12)

#Processing data shopee

In [47]:
df_shopee['Acctually type'] = df_shopee['Trạng Thái Đơn Hàng']

In [48]:
df_shopee['Acctually type'] = df_shopee['Acctually type'].apply(
    lambda x: "Đơn hàng đã đến User" if isinstance(x, str) and "Người mua xác nhận đã nhận được hàng" in x else x
)

In [49]:
date_columns_shopee = [
    'Ngày đặt hàng', 'Ngày giao hàng dự kiến', 'Ngày gửi hàng', 'Thời gian giao hàng'
]

# Ép kiểu về datetime với định dạng đúng
df_shopee[date_columns_shopee] = df_shopee[date_columns_shopee].apply(
    lambda col: pd.to_datetime(col, errors='coerce', format='%Y-%m-%d %H:%M')
)

# Loại bỏ giờ, giữ lại phần ngày
for col in date_columns_shopee:
    df_shopee[col] = df_shopee[col].dt.normalize()

In [50]:
tong_don_shopee = df_shopee[
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)
]

tong_don_shopee_unique = tong_don_shopee['Mã đơn hàng'].drop_duplicates()
so_luong_tong_don_shopee = len(tong_don_shopee_unique)

In [51]:
so_luong_tong_don_shopee

2641

In [52]:
don_hoan_thanh_shopee = df_shopee[
    (df_shopee['Acctually type'].isin(['Hoàn thành', 'Đơn hàng đã đến User']))&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)
]


don_hoan_thanh_shopee_unique = don_hoan_thanh_shopee['Mã đơn hàng'].drop_duplicates()
so_don_hoan_thanh_shopee = len(don_hoan_thanh_shopee_unique)

In [53]:
# don_huy_shopee = df_shopee[
#     (df_shopee['Acctually type'] == 'Đã hủy')&
#     (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
#     (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)
# ]


# don_huy_shopee_unique = don_huy_shopee['Mã đơn hàng'].drop_duplicates()
# so_don_huy_shopee = len(don_huy_shopee_unique)

In [54]:
don_dang_giao_shopee = df_shopee[
    (df_shopee['Acctually type'] == 'Đang giao')&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)
]

don_dang_giao_shopee_unique = don_dang_giao_shopee['Mã đơn hàng'].drop_duplicates()
so_don_dang_giao_shopee = len(don_dang_giao_shopee_unique)

In [55]:
don_hoan_tra_shopee = df_shopee[
    (df_shopee['Trạng thái Trả hàng/Hoàn tiền'] == 'Đã Chấp Thuận Yêu Cầu')&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)
]

don_hoan_tra_shopee_unique = don_hoan_tra_shopee['Mã đơn hàng'].drop_duplicates()
so_don_hoan_tra_shopee = len(don_hoan_tra_shopee_unique)

In [56]:
SCx1_sp = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-450g')&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)
]

SCx2_sp = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-x2-450g') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)
]

SC_Combo_sp = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'COMBO-SC') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)
]

In [57]:
so_luong_SCx1_sp = SCx1_sp['Số lượng'].sum()
so_luong_SCx2_sp = SCx2_sp['Số lượng'].sum()
so_luong_SC_Combo_sp = SC_Combo_sp['Số lượng'].sum()
tong_san_pham_sp = so_luong_SCx1_sp + so_luong_SCx2_sp + so_luong_SC_Combo_sp * 2

In [58]:
tong_san_pham_sp

np.int64(3206)

In [59]:
SCx1_sp_hoanh_thanh = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-450g')&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
    (df_shopee['Acctually type'].isin(['Hoàn thành', 'Đơn hàng đã đến User']))
]

SCx2_sp_hoanh_thanh = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-x2-450g') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
    (df_shopee['Acctually type'].isin(['Hoàn thành', 'Đơn hàng đã đến User']))
]

SC_Combo_sp_hoanh_thanh = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'COMBO-SC') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)  &
    (df_shopee['Acctually type'].isin(['Hoàn thành', 'Đơn hàng đã đến User']))
]

In [60]:
so_luong_SCx1_sp_hoanh_thanh = SCx1_sp_hoanh_thanh['Số lượng'].sum()
so_luong_SCx2_sp_hoanh_thanh = SCx2_sp_hoanh_thanh['Số lượng'].sum()
so_luong_SC_Combo_sp_hoanh_thanh = SC_Combo_sp_hoanh_thanh['Số lượng'].sum()

In [61]:
tong_san_pham_sp_hoanh_thanh = so_luong_SCx1_sp_hoanh_thanh + so_luong_SCx2_sp_hoanh_thanh + so_luong_SC_Combo_sp_hoanh_thanh * 2
tong_san_pham_sp_hoanh_thanh

np.int64(1600)

In [62]:
SCx1_sp_da_giao = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-450g')&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
    (df_shopee['Acctually type'] == 'Đã giao')
]

SCx2_sp_da_giao = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-x2-450g') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
    (df_shopee['Acctually type'] == 'Đã giao')
]

SC_Combo_sp_da_giao = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'COMBO-SC') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)  &
    (df_shopee['Acctually type'] == 'Đã giao')
]

In [63]:
so_luong_SCx1_sp_da_giao = SCx1_sp_da_giao['Số lượng'].sum()
so_luong_SCx2_sp_da_giao = SCx2_sp_da_giao['Số lượng'].sum()
so_luong_SC_Combo_sp_da_giao = SC_Combo_sp_da_giao['Số lượng'].sum()

In [64]:
tong_san_pham_sp_da_giao = so_luong_SCx1_sp_da_giao + so_luong_SCx2_sp_da_giao + so_luong_SC_Combo_sp_da_giao * 2
tong_san_pham_sp_da_giao

np.int64(769)

In [65]:
SCx1_sp_dang_giao = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-450g')&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
    (df_shopee['Acctually type'] == 'Đang giao')
]

SCx2_sp_dang_giao = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-x2-450g') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
    (df_shopee['Acctually type'] == 'Đang giao')
]

SC_Combo_sp_dang_giao = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'COMBO-SC') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)  &
    (df_shopee['Acctually type'] == 'Đang giao')
]

In [66]:
so_luong_SCx1_sp_dang_giao = SCx1_sp_dang_giao['Số lượng'].sum()
so_luong_SCx2_sp_dang_giao = SCx2_sp_dang_giao['Số lượng'].sum()
so_luong_SC_Combo_sp_dang_giao = SC_Combo_sp_dang_giao['Số lượng'].sum()

In [67]:
tong_san_pham_sp_dang_giao = so_luong_SCx1_sp_dang_giao + so_luong_SCx2_sp_dang_giao + so_luong_SC_Combo_sp_dang_giao * 2
tong_san_pham_sp_dang_giao

np.int64(803)

In [68]:
SCx1_sp_da_huy = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-450g')&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
    (df_shopee['Acctually type'] == 'Đã hủy')
]

SCx2_sp_da_huy = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-x2-450g') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
    (df_shopee['Acctually type'] == 'Đã hủy')
]

SC_Combo_sp_da_huy = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'COMBO-SC') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)  &
    (df_shopee['Acctually type'] == 'Đã hủy')
]

In [69]:
so_luong_SCx1_sp_da_huy = SCx1_sp_da_huy['Số lượng'].sum()
so_luong_SCx2_sp_da_huy = SCx2_sp_da_huy['Số lượng'].sum()
so_luong_SC_Combo_sp_da_huy = SC_Combo_sp_da_huy['Số lượng'].sum()

In [70]:
tong_san_pham_sp_da_huy = so_luong_SCx1_sp_da_huy + so_luong_SCx2_sp_da_huy + so_luong_SC_Combo_sp_da_huy * 2
tong_san_pham_sp_da_huy

np.int64(34)

In [71]:
SCx1_sp_hoan_tra = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-450g')&
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc) &
     (df_shopee['Trạng thái Trả hàng/Hoàn tiền'] == 'Đã Chấp Thuận Yêu Cầu')
]

SCx2_sp_hoan_tra = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'SC-x2-450g') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)&
     (df_shopee['Trạng thái Trả hàng/Hoàn tiền'] == 'Đã Chấp Thuận Yêu Cầu')
]

SC_Combo_sp_hoan_tra = df_shopee[
    (df_shopee['SKU sản phẩm'] == 'COMBO-SC') &
    (df_shopee['Thời gian giao hàng'] >= ngay_bat_dau) &
    (df_shopee['Thời gian giao hàng'] <= ngay_ket_thuc)&
     (df_shopee['Trạng thái Trả hàng/Hoàn tiền'] == 'Đã Chấp Thuận Yêu Cầu')
]

In [72]:
so_luong_SCx1_sp_hoan_tra = SCx1_sp_hoan_tra['Số lượng'].sum()
so_luong_SCx2_sp_hoan_tra = SCx2_sp_hoan_tra['Số lượng'].sum()
so_luong_SC_Combo_sp_hoan = SC_Combo_sp_hoan_tra['Số lượng'].sum()

In [73]:
tong_san_pham_sp_hoan_tra = so_luong_SCx1_sp_hoan_tra + so_luong_SCx2_sp_hoan_tra + so_luong_SC_Combo_sp_hoan * 2
tong_san_pham_sp_hoan_tra

np.int64(23)

#Show bảng tiktok

In [74]:
import pandas as pd

bang_thong_ke_don_hang_tiktok = pd.DataFrame({
    'TỔNG SỐ LƯỢNG SP': [tong_san_pham_tiktok_hoan_thanh + tong_san_pham_tiktok_da_giao],
    'SL SP HOÀN THÀNH': [tong_san_pham_tiktok_hoan_thanh],
    'SL SP ĐÃ GIAO': [tong_san_pham_tiktok_da_giao],
}, index=['Tiktok'])

bang_thong_ke_don_hang_tiktok

        TỔNG SỐ LƯỢNG SP  SL SP HOÀN THÀNH  SL SP ĐÃ GIAO
Tiktok             19391              8404          10987

In [75]:
import pandas as pd

bang_thong_ke_so_luong_tiktok = pd.DataFrame({
    'SC_Combo': [so_luong_SC_Combo_tiktok * 2],
    'SCx1': [so_luong_SCx1_tiktok_hoan_thanh + so_luong_SCx1_tiktok_da_giao ],
    'SCx2': [so_luong_SCx2_tiktok_hoan_thanh + so_luong_SCx2_tiktok_da_giao],
    'TỔNG': [tong_san_pham_tiktok_hoan_thanh + tong_san_pham_tiktok_da_giao],
    'ĐƠN ĐÃ GIAO' : [so_don_da_giao_tiktok],
    'ĐƠN HOÀN THÀNH' : [so_don_hoan_thanh_tiktok],

}, index=['Tiktok'])

bang_thong_ke_so_luong_tiktok

        SC_Combo  SCx1  SCx2   TỔNG  ĐƠN ĐÃ GIAO  ĐƠN HOÀN THÀNH
Tiktok      4642  8390  6359  19391         9402            6402

In [76]:
import pandas as pd

bang_thong_ke_hoan_tra_tiktok = pd.DataFrame({
    'SỐ ĐƠN HOÀN TRẢ': [so_don_hoan_tra_thuc_su_tiktok],
    'SỐ LƯỢNG SẢN PHẨM': [tong_san_pham_tiktok_hoan_tra],

}, index=['Tiktok'])
bang_thong_ke_hoan_tra_tiktok

        SỐ ĐƠN HOÀN TRẢ  SỐ LƯỢNG SẢN PHẨM
Tiktok                9                 12

#Show bảng shopee

In [77]:
import pandas as pd

bang_thong_ke_don_hang_shopee = pd.DataFrame({
     'TỔNG SỐ LƯỢNG SP': [tong_san_pham_sp_hoanh_thanh + tong_san_pham_sp_dang_giao],
    'SL SP HOÀN THÀNH': [tong_san_pham_sp_hoanh_thanh],
    'SL SP ĐÃ GIAO': [tong_san_pham_sp_dang_giao],
}, index=['Shopee'])

bang_thong_ke_don_hang_shopee

        TỔNG SỐ LƯỢNG SP  SL SP HOÀN THÀNH  SL SP ĐÃ GIAO
Shopee              2403              1600            803

In [78]:
import pandas as pd

bang_thong_ke_so_luong_shopee = pd.DataFrame({
    'SC_Combo': [(so_luong_SC_Combo_sp_hoanh_thanh + so_luong_SC_Combo_sp_da_giao) * 2],
    'SCx1': [so_luong_SCx1_sp_hoanh_thanh + so_luong_SC_Combo_sp_da_giao],
    'SCx2': [so_luong_SCx2_sp_hoanh_thanh + so_luong_SCx2_sp_da_giao],
     'TỔNG': [tong_san_pham_sp_hoanh_thanh + tong_san_pham_sp_da_giao],
    'ĐƠN ĐÃ GIAO' : [so_don_dang_giao_shopee],
    'ĐƠN HOÀN THÀNH' : [so_don_hoan_thanh_shopee],
}, index=['Shopee'])


bang_thong_ke_so_luong_shopee

        SC_Combo  SCx1  SCx2  TỔNG  ĐƠN ĐÃ GIAO  ĐƠN HOÀN THÀNH
Shopee       290   999   701  2369          681            1307

In [79]:
import pandas as pd

bang_thong_ke_hoan_tra_shopee = pd.DataFrame({
    'SỐ ĐƠN HOÀN TRẢ': [so_don_hoan_tra_shopee],
    'SỐ LƯỢNG SẢN PHẨM': [tong_san_pham_sp_hoan_tra],

}, index=['Shopee'])
bang_thong_ke_hoan_tra_shopee

        SỐ ĐƠN HOÀN TRẢ  SỐ LƯỢNG SẢN PHẨM
Shopee               22                 23

#Combine hai bảng

In [80]:
bang_thong_ke_so_luong = pd.concat([
    bang_thong_ke_so_luong_tiktok,
    bang_thong_ke_so_luong_shopee
])

bang_thong_ke_so_luong

        SC_Combo  SCx1  SCx2   TỔNG  ĐƠN ĐÃ GIAO  ĐƠN HOÀN THÀNH
Tiktok      4642  8390  6359  19391         9402            6402
Shopee       290   999   701   2369          681            1307

In [81]:
bang_thong_ke_don_hang = pd.concat([
    bang_thong_ke_don_hang_tiktok,
    bang_thong_ke_don_hang_shopee
])
bang_thong_ke_don_hang

        TỔNG SỐ LƯỢNG SP  SL SP HOÀN THÀNH  SL SP ĐÃ GIAO
Tiktok             19391              8404          10987
Shopee              2403              1600            803

In [82]:
bang_thong_ke_hoan_tra = pd.concat([
    bang_thong_ke_hoan_tra_tiktok,
    bang_thong_ke_hoan_tra_shopee
])
bang_thong_ke_hoan_tra

        SỐ ĐƠN HOÀN TRẢ  SỐ LƯỢNG SẢN PHẨM
Tiktok                9                 12
Shopee               22                 23